.playBar{
    width: 90%;
    height: 100px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.76);
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    bottom: 1vh;
    margin-left: 5%;
    font-size: 0.8rem;
    border: 1px solid white;
}


.rotate{
   
}

.rotate:hover{
    transform: rotateX(180deg);
    transition: transform 1s ease 1s;
}


.fullPic{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullPic img{
    width: 70vw;
    border-radius: 30px;
    max-width: 70vw;
    padding-left: 10%;
    padding-right: 10%;
    display:none;
}

#arrow{
    height: 2vh;
    width: 2vw;
    cursor: pointer;
    position:relative;
    margin-right: 30px;
}

.vignete{
    border-radius: 100px;
    height: 8vh;
    width: 10vw;
    background-color: white;
}

.hidden{
    display:none !important;
}

.full{
    height: 98%;
}

.controls-div{
    width: 80%;
    height: 100px;
    border-radius: 30px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    bottom: 1vh;
    margin-left: 5%;
}


input:focus, textarea:focus, select:focus{
    outline: none;
}

.playBar-main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.slidecontainer {
    width: 100%; /* Width of the outside container */
    
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 90%; /* Full-width */
    height: 5px; /* Specified height */
    background: #ffffff; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #b3a9a9; /* Green background */
    border-radius: 30px;
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }





.up{
    display:flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    width:100%;
}
.up > *{
    margin:10px;
}
.down{
    display:flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    width:100%;
    color:white;
}
.down >*{
    margin:10px;
}
.right{
    width: 70%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
}
.left{
    width:30%;
    display:flex;
    align-items: center;
    justify-content: center;

    
}
.miniature img{
    width:7vw;
}
.song-info{
    color:white;
}



.volumeSlider{
    width:100%;
}
.bufferSlider{
    width:100%;
    
}









@media screen and ( min-width:577px){
    .fullPic img{
        width: 65vw;
        border-radius: 30px;
        max-width: 65vw;
    }
}

@media screen and ( min-width:800px){
    .fullPic img{
        width: 50vw;
        border-radius: 30px;
        max-width: 50vw;
    }
}

@media screen and ( min-width:1000px){
    .fullPic img{
        width: 40vw;
        border-radius: 30px;
        max-width: 40vw;
    }
}

@media screen and ( min-width:1200px){
    .fullPic img{
        width: 40vw;
        border-radius: 30px;
        max-width: 40vw;
        
    }
}


