.sideBar {
   width: 30%;
   background: rgba(53, 53, 53, 0.08);
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.49),
              -10px -10px 10px rgba(5, 5, 5, 0.25);
}

@media screen and (max-width: 900px) {
    .sideBar {
        display: none;
    }
}